{% extends 'index.html' %}

{% block content %}
<div class="col-md-6 offset-md-3">
    {% if user.is_authenticated %}
        <h1>Hello Word</h1>
    {% else %}
    <h1>Login</h1>
    <br/>
    {% comment %} 
        method="POST" specifies that the form will send data using the POST method.
        action="{% url 'home' %}" dynamically generates the URL for the Django view named 'home'.
        {% csrf_token %} is required for security in Django forms to prevent cross-site request forgery.    
    {% endcomment %}
    <form method="POST" action={% url 'home'%}>
        {% csrf_token %}
        <form>
            <div class="mb-3">
                <input type="text" class="form-control" name = "username" placeholder = "username" required>
            </div>
            <br/>
            <div class="mb-3">
                <input type="password" class="form-control" name = "password" placeholder = "password" required>
            </div>
            <br/>
            <button type="submit" class="btn btn-secondary">login</button>
        </form>
    </form>
    {% endif %}
</div>
{% endblock %}